// Einstellungsleiste in Seiten-Navigation
.side-nav {
    .SettingsBar {
        padding: 0 32px;
        border-top: 1px solid black;
    }
}

.SettingsBar {

    .sortSetting {
        cursor: pointer !important;
    }

    p.sortSetting {
        margin-bottom: 1vh !important;
        margin-top: 1vh !important;
    }

}