// Einstellungsleiste in Seiten-Navigation
.side-nav {
    .SettingsBar {
        border-top: 1px solid black;
    }
}

.SettingsBar {

    .sortSetting {
        cursor: pointer !important;
    }

    .home {
        a {
            color: black;
            line-height: inherit !important;
        }

        .fa {
            line-height: inherit !important;
        }
    }

}