<template name="NavigationBar">
    <div class="navbar-fixed">
        <!-- Navigation -->
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo center">Projekt</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <!-- Menü für grosse Bildschirme -->
                <ul class="left hide-on-med-and-down">
                    <li class="{{isActiveRoute 'home'}}">
                        <a href="/">Home</a>
                    </li>
                    <li class="{{isActiveRoute 'protokoll'}}">
                        <a href="/protokoll">Protokoll</a>
                    </li>
                </ul>
                <!-- Mobile Menü -->
                <ul class="side-nav" id="mobile-demo">
                    <li class="{{isActiveRoute 'home'}}">
                        <a href="/">Home</a>
                    </li>
                    <li class="{{isActiveRoute 'protokoll'}}">
                        <a href="/protokoll">Protokoll</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>