@import "{}/client/lib/materialize";

html {
    width: 100%;
    height: 100%;
}

// Sticky footer
.page-flexbox-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

// Globale CSS Klassen
.error {
    color: $error-color !important;
}
.btn {
    text-transform: none !important;
}
.iconButton {
    background: none !important;
    box-shadow: none !important;
}
.inline-icon {
    vertical-align: middle !important;
}