@import "{}/client/lib/materialize";

.PostDetail {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    .imageViewer {
        flex: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;

        .material-placeholder {
            margin-left: auto;
            margin-right: auto;
            margin-top: 1%;
        }
    }

    .metasection {
        flex: 1 0 auto !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 0 !important;
        padding-bottom: 2%;
        background: linear-gradient(to bottom right, darken(#fff, 5%), darken(#fff, 15%)) !important;
        
        h1 {
            padding-left: 0 !important;
        }

        .postManagement {
            background-color: lighten($primary-color-light, 15%) !important;
        }

        .likeBtn {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }

        .description {
            word-wrap: break-word !important;
            background-color: darken(#fff, 5%) !important;
            border: 1px solid rgb(212, 212, 212) !important;
            border-radius: 2px !important;
            margin-top: 2% !important;
        }
    }

}

main.postdetail {
    display: flex !important;
    flex-direction: column !important;
}

.private_true {
    background-color: darken($primary-color-dark, 20%) !important;
}
.private_true-text {
    color: darken($primary-color-dark, 20%) !important;
}
.private_false {
    background-color: $primary-color !important;
}