<template name="ProtokollLayout">
    <h1>Arbeitsprotokoll - {{ totalZeit }} Stunden total</h1>
    <table class="striped">
        <thead>
            <tr>
                <th>Tätigkeit</th>
                <th>Datum</th>
                <th>Ort</th>
                <th>Aufwand</th>
            </tr>
        </thead>
        <tbody>
            {{#each arbeit in arbeiten }}
            <tr class="
            {{#if arbeit.schule }}
                blue lighten-2
            {{else}}
                teal lighten-3
            {{/if}}">
                <td>{{ arbeit.name }}</td>
                <td>{{ arbeit.datum }}</td>

                {{#if arbeit.schule }}
                <td>Schule</td>
                {{else}}
                <td>Zuhause</td>
                {{/if}}
                <td>{{ arbeit.dauer }} Stunden</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>