<template name="NavigationBar">
    <div class="NavigationBar">
        <!-- Navigation -->
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center"><i class="fa fa-picture-o" aria-hidden="true"></i>eGalerie</a>
                <a href="" data-activates="slide-out" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <!-- Menü für grosse Bildschirme -->
                <ul class="left hide-on-med-and-down">
                    {{> Routes}}
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li>{{ username }}</li>
                    <li>{{> atNavButton}}</li>
                </ul>
                <!-- Mobile Menü -->
                <ul class="side-nav" id="slide-out">
                    <li class="show-on-medium-and-down">
                        <div class="userDiv">
                            <h5 class="">{{ username }}</h5>
                            <span class="">{{> atNavButton}}</span>
                        </div>
                    </li>

                    <div class="black-text">
                            {{> Routes}}
                            
                            {{#if routeEquals "home" }}
                                <div>
                                    {{> SettingsBar }}
                                </div>
                            {{/if}}
                    </div>

                </ul>
            </div>
        </nav>
    </div>
</template>

<template name="Routes">
    {{#each nav in navigations}}
    <li class="Routes {{isActiveRoute nav.name}}">
        <a href="{{ nav.route }}">{{ nav.displayName }}
            {{#if nav.icon }}
                <i class="material-icons left">{{ nav.icon }}</i> 
            {{/if}}
        </a>
    </li>
    {{/each}}
</template>