@import "{}/client/lib/materialize";

.NavigationBar {

    li.active {
        background-color: rgba(0, 0, 0, 0.2) !important;
    }

    .userDiv {
        margin-bottom: 1em;
        padding: 1em;
        background-color: $primary-color;

        #at-nav-button {
            margin: 0;
        }
    }

}