@import "{}/client/lib/materialize";

.Protokoll {

    .card {
        z-index: -1;
    }

    .subtotal {
        background-color: lighten($primary-color-light, 15%) !important;
        font-weight: 400;
    }

    .hours {
        margin-right: 5%;
    }

    #up {
        margin-bottom: 5%;
    }
}