.Protokoll {
    .total {
        font-weight: bold !important;
        text-decoration: underline !important;
        border-top: 3px solid black;
    }

    h1 {
        word-wrap: break-word;
    }
}