.Documentation {

    #protocol {
        // Code von https://uigradients.com/#KingYna
        background: #1a2a6c;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }


    // Code für http://materializecss.com/pushpin.html
	.block {
        height: 100%;
	}

	// Class for when element is above threshold
	.pin-top {
		position: relative;
	}

	// Class for when element is below threshold
	.pin-bottom {
		position: relative;
	}

	// Class for when element is pinned
	.pinned {
		position: fixed !important;
    }
    
    .pushpin-container {
        height: 100%;
    }
}
