.thumbnail {
    display: inline-block !important;
    margin-bottom: 2% !important;
}

.thumbnailContainer {
    width: 100% !important;
}

.thumbnailImageContainer {
    height: 70% !important;
}

.thumbnail img {
    width: 100% !important;
    height: auto !important;
    object-fit: cover !important;
}

.material-placeholder {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.metasection {
    padding-bottom: 2%;
    background: linear-gradient(to bottom right, rgb(212, 212, 212), rgb(255, 255, 255)) !important;
    margin-bottom: 0 !important;
}

.description {
    background-color: white !important;
    border: 1px solid rgb(212, 212, 212) !important;
}

.postManagement {
    background-color: white !important;
    border: 1px solid rgb(240, 240, 240) !important;
}

.no-margin {
    margin: 0 !important;
}